body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(51, 51, 51);
}

div {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    color: orange;
    overflow: hidden;
}

h1 {
    font-weight: 100;
}